@import "tailwindcss";

@theme {
  --color-primary: #e41b21;
  --color-secondary: #f13c42;
  --color-button-save: #155dfc;
}

.button-save {
  @apply bg-button-save px-3 py-1 text-white mt-2 rounded-2xl cursor-pointer hover:bg-blue-700 transition-colors;
}

.button-cancel {
  @apply bg-secondary px-3 py-1 text-white mt-2 rounded-2xl cursor-pointer hover:bg-red-700 transition-colors;
}
